#waveform {
  position: relative;
}

region.wavesurfer-region:before {
  content: attr(data-region-label);
  position: absolute;
  top: 0;
  font-size: 5px;
}

#lyricBody {
  height: 100%;
  position: relative;
}

#lyricDisplay {
  min-height: 100%;
  height: 100%;
}

.fillHeight {
  height: 100%;
}

html,
body {
  height: 100%;
}

#wavePlayer {
  position: relative;
}

#wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0%;
}

#waveVis,
#canvasBottom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
